<!doctype html>
<html>
	<head>
		<meta charset="utf-8"/>

                <link rel="alternate" type="application/rss+xml" title="Atom feed" href="http://mazzi.github.com/atom.xml" />

		<title>{{ page.title }}</title>

		<!-- Styles -->
		<link rel="stylesheet" media="screen" href="/styles/screen.css" />

	</head>
	<body>
		<div id="top">
			<h1><a href="/">mazzi.github.io</a></h1>
			<ul id="menu">
				<li><a href="/about.html">About</a></li>
				<li><a href="/projects.html">Projects</a></li>
				<li><a href="/archive.html">Archive</a></li>
				<li><a href="/atom.xml">Feed</a></li>
				<li>
					<div class="night-mode-switch">
						<input id="night-mode" type="checkbox"></input>
						<label for="night-mode" aria-label="Button for night mode"></label>
					</div>
				</li>
			</ul>
			<div class="clear"></div>
		</div><!-- #top -->
