@import   url(https://fonts.googleapis.com/css?family=Noto+Serif+SC);

* {
	margin: 0;
	padding: 0;
}

body {
    background-color: cornsilk;
	color: #34495E;
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

a {
	color: #973C3F;
	text-decoration: underline;
}

a:hover {
	text-decoration: none;
	opacity: 0.8;
}

/******* Landing *******/

div#menu {
    text-align: center;
    margin: 0px;
}

div#menu ul {
    list-style: none;
}

div#menu li {
    transform: rotate(-10deg);
    -webkit-transform: rotate(-10deg);
    -moz-transform: rotate(-10deg);
    -ms-transform: rotate(-10deg);
    -o-transform: rotate(-10deg);
}

div#menu a {
    text-decoration: none;
    font-size: 15em;
    font-weight: bolder;
    color: brown;
}

div#menu p {
    text-decoration: none;
    color: black;
    font-size: 3em;
    font-weight: normal;
}

div#visits {
	font-size: xx-small;
	color: lightgray;
	text-align: right;
}

/******* Main ******/
div#main {
	padding: 0 10% 0 10%;
	margin: auto;
	max-width: 75ch;
	font-size: 1.5em;
}

div#content {
	padding: 4em 0 0 0;
	text-align: justify;
}

div#content h2 {
	margin-bottom: 24px;
	font-size: 1.5em;
	font-weight: bold;
}

div#content h2 a {
	text-decoration: none;
}

div#content h2 a:hover {
	color: black;
}

div#content h2 span.date {
	display: block;
	font-size: 0.7em;
}

div#content h3 {
	margin: 32px 0 16px 0;
	font-size: 1.5em;
	font-weight: bold;
}


/****** Post ******/
div.post {
	margin-bottom: 64px;
}
div.post img {
	display: block;
	max-width: 100%;
	margin: 0 auto 16px auto;
}
div.post .right {
	display: inline-block;
	float: right;
	margin: 0 0 16px 16px;
	max-width: 250px;
}
div.post .left {
	display: inline-block;
	float: left;
	margin: 0 16px 16px 0;
	max-width: 250px;
}
div.post div.thumb {
	background: #000;
	padding: 6px;
	border-radius: 2px;
	font-size: 1.2em;
}
div.post div.thumb p:first-child {
	margin: 0 !important;
}
div.post div.thumb p img {
	margin: 0 !important;
	border-radius: 3px;
}
div.post div.thumb p:last-child {
	margin: 0;
	padding: 12px 0 !important;
	color: #ddd;
	text-align: center;
	line-height: 1em;
}
div.post div.thumb a {
	color: #ddd;
}
div.post p {
	margin: 0 0 16px 0;
	line-height: 1.8em;
}
div.post ul, div.post ol {
	margin: 0 0 16px 32px;
	line-height: 1.8em;
}

div.post blockquote {
	margin-bottom: 16px;
	padding: 16px 16px 1px 16px;
	background: #95A5A6;
	color: #fff;
	border-radius: 3px;
}

div.post blockquote a {
	color: #fff;
	text-decoration: underline;
}

div.post pre {
	margin-bottom: 16px;
	background: #21213F;
	padding: 16px 24px;
	color: #ffa;
	border-radius: 3px;
	box-shadow: inset 0 0 6px #222;
	font-size: 0.7em;
	line-height: 1.5em;
	overflow-y: auto;
}

div.post pre code {
	display: inline;
	padding: 0;
	color: #ECF0F1;
	background-color: transparent;
}

div.post code {
	display: inline-block;
	padding: 0 3px;
	font-family: 'andale mono', monospace;
	color: #21213F;
	background: #ECF0F1;
	border-radius: 2px;
}

div.post div.video {
	margin-bottom: 16px;
}


/****** Pagination ******/
div#content div.pagination {
	margin: 0 0 64px 0;
	text-align: center;
}
div#content div.pagination span {
	color: #aaa;
}
div#content div.pagination span.previous {
	margin: 0 16px 0 0;
}
div#content div.pagination span.next {
	margin: 0 0 0 16px;
}
div#content div.pagination span a {
	padding: 12px 16px;
	text-decoration: none;
	border-radius: 3px;
	background: #ddd;
	color: #000;
}
div#content div.pagination span a:hover {
	background: #973C3F;
	color: #fff;
}

div#back {
	margin-bottom: 5%;
}

/****** Common stuff... ******/
.clear {
	clear: both;
}
